
slf_v0.1.py
Database/*
.idea/*
test.py
client/*
Loss_calculations_v0.1.py
addendum.py
Loss framework.drawio
Loss_calculations_v0.1.py
temp.py
tools/__pycache__/*
venv/*
Data Visualization/*
runMain2D.py
runMain.py
/sample/
